body{
  background-color: #04395e;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
.game-board {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  a{
    border : solid 1px black;
    border-radius: 5px;
    background-color: darkgray;
    color: black;
  }
  .restart{
    background: none;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .card {
    width: 10vw;
    img {
      width: 100%;
      height: auto;
    }
  }
  
}
table {
  border: 1px solid black;
  padding :8px;
  th{
    border : 1px solid black;
  }
  td{
    border : 1px solid black;
  }
  }